@import (inline) "bootstrap.css";
@import (inline) "font-awesome.css";
@import "wp_defaults.less";

/*
*  VARIABLES
*/
@main-color: #EC266A;
@text-color-dark: #333333;
@text-color-light: #7F7F7F;
@main-bg: #F1F1F1;
@main-font: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
@text-font: "Georgia", serif;
.text-style {
	font-size: 18px;
	line-height: 1.4;
	font-family: @text-font;
	color: @text-color-light;
	a {
		color:@text-color-dark;
		&:hover {
			color:@main-color;
			text-decoration: none;
		}
	}
}
/*
*  COMMONS
*/
a {
	&:hover {
		text-decoration: none;
		color: @main-color;
	}
}
body {
	font-family: @main-font;
	background-color:@main-bg;
}
img {
	max-width: 100%;
	height: auto;
}

/*
*  HEADER
*/
.header {
	background-color:#fff;
	&.overflow, &.overflow.over {
		width: 100%;
    	top:-100px;
		left: 0px;
		z-index:9999;
		-webkit-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
		.navbar-brand {
			&.fixed {
				display: block;
			}
			&.normal {
				display: none;
			}
		}
	}
	&.fixed, &.fixed.over {
		position: fixed;
		margin-bottom: 0px;
		top:0px;
		background:#fff;
		.admin-bar & {
			top: 32px;
		}
		.navbar-nav {
			.menu-item {
				a {
					color:@text-color-dark;
				}
			}
		}
	}
	&.over {
		position: fixed;
		z-index: 9999;
		width: 100%;
		background: transparent;
		.navbar-nav {
			.menu-item {
				a {
					color:#fff;
				}
				.sub-menu {
					.menu-item {
						a {
							color:@text-color-dark;
							&:hover {
								color:@main-color;
							}
						}
					}
				}
				&:hover {
					a {
						color:@main-color;
					}	
				}
			}
		}
	}
	.container {
		position: relative;
	}
	.navbar-brand {
		height: auto;
		&.fixed {
			display: none;
		}
	}
	.navbar-nav {
		position: absolute;
	    right: 0px;
	    top: 50%;
	    transform: translateY(-50%);
	    z-index: 9999;
		.menu-item {
			font-size: 17px;
			font-weight: bold;
			text-transform: lowercase;
			position: relative;
			list-style: none;
			a {
				color:@text-color-dark;
				&:hover {
					color:@main-color;
				}
			}
			.sub-menu {
				display: none;
				z-index: 99999;
				position: absolute;
				background:#fff;
				margin:0px;
				padding: 0px;
				width: 300px;
				.menu-item {
					a {
						padding:5px 15px;
						display: block;
					}
				}
			}
			&:hover {
				background-color: #fff;
				.sub-menu {
					display: block;

				}
				a {
					background-color:#fff;
				}
			}
		}
	}
}

/*
*  HOME BLOCKS
*/
.home-block {
	margin-bottom: 40px;
	background-color:#fff;
	padding-bottom: 30px;
	.post-header {
		position: relative;
		margin-bottom: 25px;
		.wp-post-image {
			width: 100%;
			display: block;
		}
		.post-title {
			position: absolute;
			background-color:#fff;
			font-size: 50px;
			font-weight: bold;
			line-height: 1;
			bottom: 0px;
			left: 0px;
			width: 90%;
			margin-bottom:0px;
			padding:25px 25px 0px 40px;
			color: @text-color-dark;
			a {
				color: @text-color-dark;
				&:hover {
					color:@main-color;
				}
			}
		}
	}
	.post-author {
		font-size: 17px;
		color:@text-color-dark;
		font-weight: lighter;
		text-transform: lowercase;
		padding-left: 40px;
		margin-bottom: 20px;
		a {
			color:@text-color-dark;
			font-weight: bold;
			text-transform: none;
			&:hover {
				color:@main-color;
			}
		}
	}
	.post-content {
		padding:0px 25px 0px 40px;
		.text-style;
		margin-bottom: 20px;
	}
	.post-links {
		padding:0px 15px 0px 40px;
		list-style: none;
		color:@main-color;
		li {
			font-size: 17px;
			font-weight: bold;
			display: block;
			padding:0px 20px;
			position: relative;
			padding-right: 40px;
			&:last-child {
				padding-right: 20px;
			}
			&:before {
				position: absolute;
				width: 8px;
				height: 8px;
				left: 0px;
				top:5px;
				background:@main-color;
				content: '';
			}

			.col-md-12 & {
				width: 33%;
				float: left;
			}
			.col-md-8 & {
				width: 50%;
				float: left;
			}
			a {
				color:@main-color;
			}
		}
	}
	.col-md-4 & {
		.post-header {
			.post-title {
				position: relative;
				width: 100%;
				bottom: auto;
				left: auto;
				font-size: 30px;
				padding-top:0px;
				padding-bottom: 0px;
				margin-bottom: 30px;
			}
		}
	}
	&.full-width {
		background: transparent;
		.container {
			&.post-title-wrapper {
				position: relative;
				padding-top:0px;
			}
		}
		.post-header {
			margin-bottom: 0px;
			height: 600px;
			overflow: hidden;
			.container, .col-md-12 {
				height: 600px;
			}
			.wp-post-image {
				position: absolute;
			}
		}
		.post-content-wrapper {
			background:#fff;
			padding-top:25px;
		}
		.post-links {
			li {
				width: 33%;
				float: left;
			}
		}
	}
}